/**
 * Well Basically Entire Styles
 *
 * This style was made by Gabe
 * Roeloffs, it is designed to 
 * make wellbasically.com look
 * pretty darn snazzy.
 *
 * Main: #428bca
 * 
 * @project   Well Basically
 * @author    Gabe Roeloffs
 * @copyright 2014 by Gabe Roeloffs
*/


/***********************/
/***********************/
/*Generic Page Elements*/
/***********************/
/***********************/

html, body, #i, #map-canvas { 

	height: 100%;
	margin: 0; 
	padding: 0; 
}

#mini-map-canvas{

	height: 500px;
	width: 100%;
}

.img-responsive{

	margin: 0 auto;
}

.inline{

	display: inline;
}

/***********************/
/***********************/
/***  Text & Buttons  **/
/***********************/
/***********************/
p{

	font-family: 'Lato';
}

h1{

	font-family: 'Nobile', sans-serif;
	font-weight: 700;
	
}

h2{

	font-family: 'Lato';
}

h3{

	font-family: 'Nobile';
}

h4{

	font-family: 'Nobile';
}

p,a{

	font-size: 14px;
}

li{

	cursor: pointer;
	list-style: none;
}

label{

	font-family: 'Nobile';
	font-weight: 300;
}


hr{

	line-height: 50%;
}

td{

	font-size: 25px;
}


.pac-container,p,a,li,label{

	font-family: 'Nobile', sans-serif;

}

.big-p{

	font-size: 20px;
}

.red{

	color:red;
}


.white{

	color:white;
	text-align: center;
}

.gray{

	color: gray;
}

.text-center{

	text-align: center;
}

.lobster{

	font-family: 'Lobster';
}

#search{

	background-color: #428bca;
	color:white;
	margin-right: -40px;
}

/* Buttons */

.btn-info{

 	background: white;
 	color:black;
 	border: 1px solid #E8E8E8 ;
 	-moz-box-shadow:    1px 1px 1px 1px #ccc;
  	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
  	box-shadow:         1px 1px 1px 1px #ccc;
  	font-family: 'Nobile'

 }

.btn-info:hover{
 	background-color: #E8E8E8;
 	border:none;
 	color:black; 
 }

.btn-outline{

	background-color: none;
	-webkit-border-radius: 0;
-moz-border-radius: 0;
     border-radius: 0;
     border:1px solid white;
     color: black;
     font-size: 15px;
}

/***********************/
/***********************/
/****   Main Body   ****/
/***********************/
/***********************/

#map-canvas {
    display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:70px; /* Set margin to your navbar height */
}


.bg1{

	background-image: url('../images/bg2.jpg');
	height: 100%;
	background-size: cover;
}

.bg2{

	background-image: url('../images/map.jpg');
	height: 600px;
	background-size: cover;
}

.bg3{

	background-image: url('../images/simple-water.jpg');
	height: 100%;
	background-size: cover;

}

.bg4{

	background-image: url('../images/forest-simple.jpg');
	height: 100%;
	background-size: cover;

}

.bg5{

	background-image: url('../images/ocean-simple.jpg');
	height: 100%;
	background-size: cover;
}

.bg-blue{

	background-color: #428bca;
	color: white
}

.jumbotron{

	background: none;
	text-align: center;
}

.jumbotron > p{

	font-size: 20px;
}

.jumbotron .gray{

	color: gray;
}


.jumbotron .white{

	color: white;
}

.jumbotron .big-text{

	font-size: 90px;
}


.register-box{

	background: rgba(255,255,255,.6);
	padding: 20px;
	border-radius: 10px;
}

.modal-title{

	padding-top: 10px;
	font-family: 'Nobile';
}

.info-box{

	background-color: white;
	padding:20px;
}

.comment{

	border-top: 1px solid #428bca;
	padding: 14px;
	margin-top:10px;
	-moz-box-shadow:    1px 1px 1px 1px #ccc;
  	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
  	box-shadow:         1px 1px 1px 1px #ccc;
}


/***********************/
/***********************/
/****    Sidebar    ****/
/***********************/
/***********************/

.alert{

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}

#success-alert{

	background-color: #33CC00;
	color: white ;
	margin-bottom: 5px;
}

.scroll{

	overflow-y: scroll;
	height: 400px;
}

.bottom{

	position: fixed;
	bottom: 0;
}
.list-group-item{


  -webkit-border-radius: 0 !important ;
     -moz-border-radius: 0 !important ;
          border-radius: 0 !important ;
}

li:hover{

	background-color: #E8E8E8 ;
}

.list-group-item{

	font-family: 'Lato';
}

/***********************/
/***********************/
/****   Navigation  ****/
/***********************/
/***********************/

.navbar-fixed-top{

	padding-top: 10px;
	padding-right: 10px;
	background-color: white;
}

.navbar-brand{

	font-family: 'Lobster';
	font-size: 30px;
}


.navbar .nav > li > a, .navbar .nav > li > a{

	font-size: 17px;
	font-family: 'Nobile';
	line-height: 150%
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: gray;
}



/***********************/
/***********************/
/****    Movedown   ****/
/***********************/
/***********************/

.movedown{

	margin-top: 100px;
}

.movedown70{

	margin-top: 70px;
}

.movedownless{

	margin-top: 50px;
}

.movedown200{

	margin-top: 200px;
}

/***********************/
/***********************/
/****    Forms      ****/
/***********************/
/***********************/


.form-control::-moz-placeholder {
  font-family: 'Nobile';
}
.form-control:-ms-input-placeholder {
  font-family: 'Nobile';
}
.form-control::-webkit-input-placeholder {
  font-family: 'Nobile';
}

.pac-container{

 	z-index:2000 !important; 
}

.search{
	margin-top: -8px;
	height: 55px;
}

.form-control{

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#pac-input{

	margin-left:40px;
}

#type-selector {
	margin-top: -10px;
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
	z-index: 100;
}

#type-selector label {
	font-family: 'Lato';
	font-size: 13px;
	font-weight: 300;
	z-index: 100;
}

.comment-textarea{

	height: 300px;
}

/***********************/
/***********************/
/**** Media Queries ****/
/***********************/
/***********************/


@media only screen and (max-width: 40em) { 

	.navbar-fixed-top{

		background-color: white;
	}

	#pac-input{

		margin-left: 0;
	}



}
